* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    background: #333;
    color: #fff;
    font-family: 'Fira Code', Arial, Helvetica, sans-serif;
}

.container {
    margin: 8rem 2rem 0 2rem;
    display: grid;
    gap: 20px;
    grid-template-columns: 1fr;
    justify-items: center;
}

.container h3 {
    font-size: 3.2rem;
}

.container #search {
    min-width: 500px;
    margin-top: 2rem;
    height: 50px;
    padding: 10px 20px;
    border-radius: 4px;
    border: 0;
}

.container #match-list {
    min-width: 500px;
}

.match-item {
    margin: 1rem 0;
    border-radius: 4px;
    background: #666;
    padding: 10px 20px;
}

.match-item:first-child {
    margin: 0;
}

.match-item .item-capital {
    color: #2EA3F2;
}

@media(max-width: 685px) {
    .container h3 {
        font-size: 2.6rem;
    }

    .container #search {
        height: 45px;
    }
}

@media(max-width: 570px) {
    .container #search {
        min-width: 300px;
    }

    .container #match-list {
        min-width: 300px;
    }
}